@import "../variables/variables";

.container {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 9rem;
  padding: 0 2rem;
  background: rgb(255, 245, 240);
  background: linear-gradient(
    90deg,
    rgba(255, 245, 240, 0.34217436974789917) 0%,
    rgba(255, 245, 240, 1) 50%,
    rgba(255, 245, 240, 0.33657212885154064) 100%
  );

  .title {
    font-size: $h3;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: $h4;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .interest {
    margin-top: 4rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media #{$sm-device} {
      display: block;
    }
  }

  .list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -1rem;

    li {
      padding: 1rem;
      border-radius: 1rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      justify-content: space-between;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  & p {
    padding-bottom: 1rem;
    max-width: 80ch;

    a {
      text-decoration: underline;
    }
  }
}

.background {
  & img {
    position: absolute;
    max-height: 50rem;
    // z-index: -1;
  }
  &-blue {
    top: 20rem;
    left: 0;

    @media #{$tablet-device} {
      transform: rotate(90deg);
      top: -13rem;
      right: 0;
      left: unset;
      height: 24%;
    }

    @media #{$sm-device} {
      top: -11rem;
      height: 11%;
    }
  }

  &-orange {
    right: 0;
    bottom: -10rem;
    width: 40rem;

    @media #{$tablet-device} {
      transform: rotate(90deg);
      bottom: -20rem;
      height: 45rem;
      width: unset;
    }
  }
}
