@import "../../styles/variables/variables";

.hero {
  &__container {
    display: grid;
    grid-template-columns: 40rem minmax(20rem, 80rem);
    gap: 8rem;
    max-width: 120rem;
    min-height: 100vh;
    margin: auto;
    margin-top: -8.7rem;
    align-content: center;
    padding: 0 7rem;
    padding-bottom: 10rem;
    background: rgb(255, 245, 240);
    background: linear-gradient(
      90deg,
      rgba(255, 245, 240, 0.34217436974789917) 0%,
      rgba(255, 245, 240, 1) 50%,
      rgba(255, 245, 240, 0.33657212885154064) 100%
    );

    @media #{$tablet-device} {
      grid-template-columns: minmax(20rem, 90rem);
      grid-template-rows: min-content 1fr;
      gap: 0;
      padding: 0 4rem;
    }

    @media #{$sm-device} {
      margin-top: 10rem;
      padding: 0 2rem;
      padding-bottom: 12rem;
      // min-height: unset;
    }
  }

  &__title {
    font-size: $h3;
    font-weight: 600;
    letter-spacing: 0.5px;

    .wave {
      &:hover {
        animation: waving 1s infinite ease-in-out;
        transform-origin: bottom right;
      }
    }
  }

  &__profile {
    position: relative;

    @media #{$tablet-device} {
      padding-top: 15rem;
      width: 30rem;
    }

    @media #{$sm-device} {
      width: 22rem;
      padding-top: 2rem;
    }

    &-arrow {
      width: 6rem;
      position: absolute;
      bottom: 3rem;
      right: 1rem;

      @media #{$sm-device} {
        bottom: 1rem;
        right: -2rem;
      }
    }
  }

  &__subtext {
    position: absolute;
    right: -14rem;
    bottom: -3.5rem;
    font-size: $h2;

    @media #{$sm-device} {
      bottom: -4rem;
      right: -5rem;
      text-align: right;
      p {
        font-size: 1.3rem;
      }

      &-heading {
        font-size: $p;
      }

      // font-size: $p;
    }
  }

  &__textbox {
    padding-top: 12rem;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 2rem;
    font-size: 1.4rem;

    @media #{$tablet-device} {
      grid-row: 2;
      padding-top: 8rem;
    }

    p {
      font-weight: 400;
      max-width: 70ch;

      a,
      a:visited {
        color: $grey-1;
        text-decoration: underline;
      }
    }

    button {
      height: 4rem;
      width: 15rem;
      border: 0;
      background-color: hsla(234, 96%, 63%, 1);
      color: white;
      border-radius: 0.8rem;
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 1px;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__background {
    &-blue {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55rem;
      height: 30rem;

      @media #{$tablet-device} {
        bottom: unset;
        left: unset;
        top: -10rem;
        right: 0;
        transform: rotate(180deg);
        height: 25rem;
      }

      @media #{$sm-device} {
        width: 30rem;
      }
    }

    &-orange {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 55rem;
      height: 35rem;
      width: 70rem;

      @media #{$tablet-device} {
        bottom: -15rem;
        height: 27rem;
        width: 70rem;
      }

      @media #{$sm-device} {
        bottom: -27rem;
        width: 29rem;
        height: 18rem;
      }
    }
  }
}

@keyframes waving {
  50% {
    transform: rotate(30deg);
  }
}
