@import "../../styles/variables/variables";

$container-color: hsla(23, 30%, 93%, 60%);
$item-color: hsla(40, 14%, 87%, 70%);

.nav {
  display: flex;
  justify-content: center;
  font-size: $p;
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;

  .container {
    list-style-type: none;
    display: flex;
    background-color: $container-color;
    padding: 1.5rem 3rem;
    border-radius: 1.2rem;
    font-weight: 600;
    justify-content: center;
    overflow: hidden;

    @media #{$sm-device} {
      position: fixed;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      left: 0;
      bottom: 0;
      z-index: 10;
      background-color: #fff;
      border-radius: 2rem 2rem 0 0;
      padding: 0.5rem 0;
      width: 100vw;
      box-shadow: 0 -0.3rem 1rem -0.3rem #a4928939;
      transition: bottom 0.3s;
    }
  }

  .item {
    padding: 0.6rem 2rem;
    background-color: $item-color;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    margin-left: 2rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    @media #{$sm-device} {
      $icon-padding-top: 1.2rem;
      $icon-height: 1.8rem;
      background-color: #fff;
      border-radius: 0;
      padding: 0 2rem;
      padding-bottom: 1rem;
      height: 6.5rem;
      display: flex;
      align-items: flex-end;
      margin-left: 0;
      background-color: white;
      font-size: 1.2rem;
      justify-content: center;
      position: relative;

      &-about:after {
        content: "";
        position: absolute;
        top: $icon-padding-top;
        left: calc(50% - 9px);
        height: $icon-height;
        width: 1.8rem;
        background-image: url("/icons/about.svg");
      }
      &-writing:after {
        content: "";
        position: absolute;
        top: $icon-padding-top;
        left: calc(50% - 7px);
        height: $icon-height;
        width: 14px;
        background-image: url("/icons/writing.svg");
      }
      &-work:after {
        content: "";
        position: absolute;
        top: $icon-padding-top;
        left: calc(50% - 8.5px);
        height: $icon-height;
        width: 17px;
        background-image: url("/icons/work.svg");
      }
      &-contact:after {
        content: "";
        position: absolute;
        top: $icon-padding-top;
        left: calc(50% - 11.2px);
        height: $icon-height;
        width: 22.4px;
        background-image: url("/icons/contact.svg");
      }
    }
  }

  .logo {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    width: 4.7rem;
    height: 4.7rem;
    font-size: $h2;
    color: $black-1;
    left: 4rem;
    top: 3rem;

    @media #{$sm-device} {
      left: 2rem;
      top: 2rem;
    }

    &__text {
      position: absolute;
      z-index: 1;
      pointer-events: none;
      top: 0.2rem;
      right: 0.7rem;
      font-size: 2.6rem;
    }

    &__background {
      z-index: -1;
      transform: rotate(-12deg);
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: rotate(0deg);
      }
    }
  }
}
