---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<Layout title="Sam Tancharoensuksavai">
  <main>
    <header>
      <h1>
        <span aria-hidden="true">อัครเดช</span>
        Sam Tancharoensuksavai
      </h1>
      <ThemeToggle />
    </header>
    <footer></footer>
  </main>
</Layout>

<style>
  main {
    height: 100dvh;
    margin: auto;
    color: var(--color-text-1);
    width: 100%;
  }

  header {
    display: grid;
  }

  h1 {
    font-weight: 100;
    font-size: var(--font-size);
  }

  h1 span {
    margin-top: 0;
    font-size: calc(var(--font-size) * 1.1);
    font-weight: 300;
    color: var(--color-text-accent);
  }
</style>
