---
import Layout from "@layouts/Layout.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
---

<Layout title="Sam Tancharoensuksavai">
  <main>
    <header>
      <h1>
        <span aria-hidden="true">อัครเดช</span>
        Sam Tancharoensuksavai
      </h1>
      <ThemeToggle />
    </header>
    <footer></footer>
  </main>
</Layout>

<style>
  main {
    height: 100dvh;
    margin: auto;
    color: var(--color-text-1);
    width: 100%;
    padding: 2rem clamp(0.8rem, 3.5vw, 2rem);
    max-width: 900px;
    margin-inline: auto;
  }

  header {
    position: relative;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  header::after {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, var(--color-bg-accent), transparent);
    position: absolute;
    bottom: 0;
  }

  h1 {
    font-weight: 100;
    font-size: var(--font-size);
    line-height: 1.2;
  }

  h1 span {
    display: block;
    color: var(--color-text-accent);
    font-size: calc(var(--font-size) * 1.1);
    font-weight: 300;
  }
</style>
