---
import Layout from "@layouts/Layout.astro";

const name = "Sam Tancharoensuksavai";
---

<Layout title={name}>
  <section class="container">
    <div class="content">
      <header>
        <h1 class="title"><span class="block">{name}</span></h1>
        <p class="subtext"><span class="block">Design Engineer</span></p>
      </header>
      <p>
        <span class="sr-only"
          >Human-centric developer with a passion for crafting thoughtful, story-driven web experiences.</span
        >
        <span class="animated-summary" aria-hidden>
          Human-centric developer with a passion for crafting thoughtful, story-driven web experiences.
        </span>
      </p>
    </div>
  </section>
</Layout>

<script>
  import { animate, stagger } from "motion";

  const summary = document.querySelector(".animated-summary");

  if (summary) {
    const wrappedWords = summary.innerHTML
      .split(" ")
      .map((word) => {
        const newWord = word
          .split("")
          .map((char) => `<span class="fade-in">${char}</span>`)
          .join("");

        return `<span class="word-fade-in">${newWord}</span>`;
      })
      .join(" ");

    summary.innerHTML = wrappedWords;

    animate(
      ".block",
      {
        y: [15, 0],
      },
      { delay: stagger(0.15), ease: [0.65, 0, 0.35, 1], duration: 0.75 }
    );

    animate(
      ".fade-in",
      {
        opacity: [0, 1],
        y: [15, 0],
        filter: ["blur(10px)", "blur(0px)"],
      },
      { delay: stagger(0.015, { startDelay: 0.35 }), ease: "easeOut", duration: 0.5 }
    );
  }
</script>

<style>
  .container {
    display: grid;
    place-items: center;
    max-width: var(--max-w);
    margin-inline: auto;
    height: 100dvh;
  }

  .content {
    padding-inline: var(--space-s);
  }

  .block {
    display: inline-block;
  }

  .title,
  .subtext {
    position: relative;
    font-size: var(--step-0);
    font-weight: var(--font-semibold);
    line-height: 1.2;
    overflow: hidden;
  }

  .subtext {
    color: var(--color-text-2);
    margin-block-start: var(--space-3xs);
  }

  .animated-summary {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: var(--step-3);
    line-height: 1.4;
    margin-block-start: var(--space-l);
  }

  :global(.fade-in, .word-fade-in) {
    display: inline-block;
  }
</style>
