---
import Layout from "@layouts/Layout.astro";

const name = "Sam Tancharoensuksavai";
---

<Layout title={name}>
  <section class="container">
    <h1>{name}</h1>
  </section>
</Layout>

<style>
  .container {
    padding-inline: 1rem;
  }
  h1 {
    font-weight: 100;
    font-size: var(--font-size);
    line-height: 1.2;
  }
</style>
