@import "../../styles/variables/variables";

.footer {
  &__background {
    position: relative;
    &-blue {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55rem;
      height: 30rem;

      @media #{$tablet-device} {
        bottom: unset;
        left: unset;
        top: -11rem;
        right: 0;
        height: 25rem;

        &:first-child {
          transform: rotate(180deg);
        }
      }

      @media #{$sm-device} {
        width: 27rem;
      }
    }

    &-orange {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 55rem;
      height: 35rem;
      width: 70rem;

      @media #{$tablet-device} {
        bottom: -15rem;
        height: 27rem;
        width: 70rem;
      }

      @media #{$sm-device} {
        bottom: -27rem;
        width: 29rem;
        height: 18rem;
      }
    }
  }
}
