---
import ThemeToggle from "@components/ThemeToggle.astro";

const links = [
  {
    label: "Bluesky",
    url: "https://bsky.app/profile/akasamtan.bsky.social",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/sam-tancharoensuksavai/",
  },
  {
    label: "Github",
    url: "https://github.com/akardet",
  },
];
---

<footer class="site-footer">
  <div class="container">
    <ThemeToggle />
    <ul class="links">
      {
        links.map((link) => (
          <li>
            <a class="link" href={link.url}>
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>

<script>
  //@ts-nocheck
  const socials = Array.from(document.querySelectorAll(".link"));
  const theme = document.querySelector(".theme-toggle");

  theme.onclick = () => umami.track("Theme toggle");
  socials.map((el) => (el.onclick = (e) => umami.track(`${e.innerHTML} social button`)));
</script>

<style>
  .site-footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    max-width: var(--max-w);
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
  }

  .container {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2xs);
  }

  .links {
    list-style: none;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);
    transform: translateX(calc(-1 * var(--space-xs)));
  }

  .link {
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--step--1);
    color: var(--color-text-1);
    padding: var(--space-2xs) var(--space-xs);
    border-radius: 8px;
    transition: background-color 400ms cubic-bezier(0.25, 1, 0.5, 1);
  }

  .link:hover {
    background-color: var(--color-link-hover);
  }
</style>
