@layer base {
  :root {
    --font-size: clamp(1.35rem, 1.1591rem + 0.9545vw, 1.875rem);
    --font-primary: "Cabin", sans-serif;

    --color-primary: hsl(50 80% 40%);
  }

  body {
    position: relative;
    background: black;
  }

  p,
  h1 {
    font-family: var(--font-primary);
  }
}
