@layer theme {
  :root {
    --color-bg-1: var(--color-grey-light-0);
    --color-bg-accent: var(--color-grey-dark-1);
    --color-text-1: var(--color-grey-dark-1);
    --color-text-2: var(--color-grey-light-3);
    --color-link-hover: var(--color-grey-light-05);
    --color-text-accent: var(--color-primary);
    --icon-fill: var(--color-text-1);
  }

  [data-theme="dark"] {
    --color-bg-1: var(--color-grey-dark-0);
    --color-bg-accent: var(--color-grey-light-1);
    --color-text-1: var(--color-grey-light-1);
    --color-text-2: var(--color-grey-light-3);
    --color-link-hover: var(--color-grey-dark-1);
    --color-text-accent: var(--color-secondary);
  }
}
