@import "styles/devices";

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 110rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;

  @media #{$tablet-device} {
    flex-direction: column;
  }
}

.heading p {
  font-size: 1.4rem;
  font-weight: 300;
  width: min(calc(100vw - 4rem), 40rem);
  padding-bottom: 1rem;
  letter-spacing: 0.5px;
  opacity: 0;
  animation: fade-up 0.5s 0.4s ease-out forwards;
}

.heading__title {
  font-family: "Reenie Beanie";
  font-size: 5.5rem;
  line-height: 1;
  padding-bottom: 2rem;
  animation: fade-up 0.5s ease-out, lights-on 0.5s 0.5s ease-out forwards;

  @media #{$sm-device} {
    max-width: 10ch;
  }
}

.heading__subtitle {
  opacity: 0;
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 42ch;
  line-height: 1.5;
  padding-bottom: 1.5rem;
  animation: fade-up 0.5s 0.2s ease-out forwards;

  @media #{$sm-device} {
    max-width: 27ch;
  }

  .gradient {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-weight: 600;
    font-size: 2rem;
  }

  .design-text {
    background-image: rgb(165, 32, 244);
    background-image: linear-gradient(
      329deg,
      rgba(165, 32, 244, 1) 0%,
      rgba(28, 124, 242, 1) 61%,
      rgba(186, 0, 255, 1) 100%
    );
  }

  .development-text {
    background-image: rgb(244, 211, 32);
    background-image: linear-gradient(
      329deg,
      rgba(244, 211, 32, 1) 0%,
      rgba(242, 122, 28, 1) 61%,
      rgba(255, 220, 0, 1) 100%
    );
  }
}

.video {
  opacity: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: fade-zoom-in 0.8s 0.8s cubic-bezier(0.5, 0.5, 0.1, 1) forwards;

  & video {
    width: 100%;
  }
}

.video__spotlight {
  position: absolute;
  right: 50%;
  top: -10%;
  height: 100rem;
  width: 50rem;
  opacity: 0;
  background: rgb(201, 196, 123);
  background: linear-gradient(
    180deg,
    rgba(201, 196, 123, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  clip-path: polygon(28% 0, 66% 0, 100% 100%, 0 100%);
  transform: translate3d(50%, 0, 0);
  transform-origin: top center;
  animation: flicker-on 0.8s 1.5s ease forwards, pan 6s 3s ease-in-out infinite;

  @media #{$sm-device} {
    height: 50rem;
    width: 30rem;
    background: linear-gradient(
      180deg,
      rgba(201, 196, 123, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.work {
  height: 100vh;
  padding: 0 2rem;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 1.5rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    // transform: translate3d(0, -1.5rem, 0);
  }
  to {
    opacity: 1;
    // transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(5rem);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes lights-on {
  to {
    text-shadow: 0 0 1.5rem hsla(360, 100%, 100%, 0.7);
  }
}

@keyframes flicker-on {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@keyframes pan {
  0%,
  100% {
    transform: translate3d(50%, 0, 0) rotate(5deg);
    opacity: 1;
  }
  50% {
    transform: translate3d(50%, 0, 0) rotate(-5deg);
    opacity: 1;
  }
}
