@import "../../styles/variables/variables";

.container {
  display: grid;
  grid-template-columns: minmax(10rem, 35rem) 1fr;
  padding-bottom: 4rem;

  @media #{$tablet-device} {
    grid-template-columns: 1fr;
  }

  .details {
    padding: 4rem 0 0 0;
    list-style: initial;

    @media #{$tablet-device} {
      padding: 4rem 0 0 2rem;
    }

    @media #{$sm-device} {
      padding: 3rem 0 0 2rem;
    }

    & li {
      margin-bottom: 1rem;
    }
  }

  .info {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    position: relative;

    &__eyebrow {
      grid-column: 1;
      grid-row: 1;
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        margin-right: 1rem;
        height: 1rem;
        width: 1rem;
        border-radius: 2rem;
        background-color: $orange-2;
      }
    }

    &__icon {
      grid-column: 1;
      grid-row: 2 / 3;
      max-width: 5.5rem;
      position: absolute;
      opacity: 0.08;
      z-index: -1;
      top: 1.5rem;
      left: 5rem;
      fill: $grey-1;
    }

    &__title {
      grid-column: 1;
      grid-row: 2;
      white-space: nowrap;
      font-size: $h4;
      font-weight: 500;
    }

    &__company {
      grid-column: 1;
      grid-row: 3;
      font-size: $p;
    }
  }
}
