---
import "@css/index.css";

import SiteFooter from "@components/SiteFooter.astro";
import SiteHeader from "@components/SiteHeader.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poly:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css" />

    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Sam Tancharoensuksavai | Design Engineer</title>
    <meta name="title" content="Sam Tancharoensuksavai | Design Engineer" />
    <meta
      name="description"
      content="Human-centric developer with a passion for crafting thoughtful, story-driven web experiences."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://samtan.dev/" />
    <meta property="og:title" content="Sam Tancharoensuksavai | Design Engineer" />
    <meta
      property="og:description"
      content="Human-centric developer with a passion for crafting thoughtful, story-driven web experiences."
    />
    <meta property="og:image" content="/sam-og.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://samtan.dev/" />
    <meta property="twitter:title" content="Sam Tancharoensuksavai | Design Engineer" />
    <meta
      property="twitter:description"
      content="Human-centric developer with a passion for crafting thoughtful, story-driven web experiences."
    />
    <meta property="twitter:image" content="/sam-og.png" />

    {
      isProd && (
        <!-- Analytics -->
        <script defer src="https://cloud.umami.is/script.js" data-website-id="a54aff8a-c410-49ed-bb1f-7b4ff9dec902" />
      )
    }

    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>

<style>
  main {
    margin: auto;
    color: var(--color-text-1);
    width: 100%;
    max-width: var(--max-w);
    margin-inline: auto;
  }
</style>
